*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f6f8f9;
}

/*HEADER*/
header {
    background-color: #ffffff;
    padding: 20px;
}
#logo{
    vertical-align: middle;
}
#text_logo{
    display: inline-block;
    vertical-align: middle;
}
/*F.HEADER*/

/*MAIN*/
/*BUTTONS_CONTEINER*/
.buttons_conteiner{
    width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 50px;
    padding: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.buttons a{
    text-decoration: none;
}
#button1{
    background-color: #47adf1;
    color: #ffffff;
    padding: 10px 5px;
    border: 2px solid;
    border-color: #47adf1;
    border-radius: 5px;

}
#button2 {
    background-color: #ffffff;
    border: 2px solid;
    color: #c5cbd0;
    padding: 10px 10px;
    border-radius: 5px;
}
/*F.BUTTONS_CONTEINER*/

/*CENTER*/
.center_container{
    width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 5px;
    padding: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.content_center{
    color: #444851;   
}
.title_content{
    display: inline-flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.text_content{
    margin-top: 10px;
    margin-bottom: 10;
}
.text{
    font-size: 24px;
    margin: 5px;
}
.check{
    display: inline-block;
    height: 25px;
    width: 25px;
    border: 2px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    color: #6fc6b2;
    vertical-align: center;
}
.cross{
    display: inline-block;
    height: 25px;
    width: 25px;
    border: 2px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    color: #eb5851;
    vertical-align: center;
}
.editorial{
    background-color: #45abea;
    color:#ffffff;
    font-size: 18px;
    padding: 5px;
    border-radius: 15px;
}
.q1_goals{
    background-color: #9c72e4;
    color:#ffffff;
    font-size: 18px;
    padding: 5px;
    border-radius: 15px;
}
.recruiting{
    background-color: #64c0a9;
    color:#ffffff;
    font-size: 18px;
    padding: 5px;
    border-radius: 15px;
}
.mobile{
    background-color: #f29e33;
    color:#ffffff;
    font-size: 18px;
    padding: 5px;
    border-radius: 15px;
}
.website{
    background-color: #d863a1;
    color:#ffffff;
    font-size: 18px;
    padding: 5px;
    border-radius: 15px;
}
.sales{
    background-color: #b0c926;
    color:#ffffff;
    font-size: 18px;
    padding: 5px;
    border-radius: 15px;
}
.
/*F.CENTER*/

/*F.MAIN*/