*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f6f8f9;
}
/*HEADER*/
header {
    background-color: #ffffff;
    padding: 20px;
}
#logo{
    vertical-align: middle;
}
#text_logo{
    display: inline-block;
    vertical-align: middle;
}
/*F.HEADER*/
